body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav {
    background: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.banner {
    background-image: url('https://i.pinimg.com/736x/b1/28/dd/b128ddfe82369928b5bc8e41c79ab53c.jpg');
    background-size: cover;
    background-position:center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.info {
  margin-left: 2%;
}
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 95%;
}
